---

- name: Add JBrowse2 location block before custom landing page comment
  blockinfile:
    path: "/etc/nginx/sites-available/{{ item }}.conf"
    marker: "# {mark} ANSIBLE MANAGED JBrowse2 block"
    insertbefore: '^\s*# uncomment for a static root page'
    block: |
      location /jbrowse2 {
          alias /var/www/{{ apollo_internal_domain_name }}/jbrowse2/;
          try_files $uri $uri/ /jbrowse2/index.html;
      }
  loop:
    - "{{ apollo_internal_domain_name }}"
    - "{{ apollo_custom_domain_name }}"
  notify: reload nginx

