---

- name: Add JBrowse2 location block before custom landing page comment
  blockinfile:
    path: "/etc/nginx/sites-available/{{ item }}.conf"
    marker: "# {mark} ANSIBLE MANAGED JBrowse2 block"
    insertbefore: '^\s*# uncomment for a static root page'
    block: |
      # Ensure trailing slash so that relative paths resolve correctly
      location = /jbrowse2 {
          return 301 /jbrowse2/;
      }

      location /jbrowse2/ {
          alias /var/www/{{ apollo_internal_domain_name }}/jbrowse2/;

          # For JSON files: return 404 if not present to enable default JBrowse2 "sample config" behavior
          location ~ ^/jbrowse2/.*\.json$ {
              try_files $uri =404;
          }

          # Single-Page Application fallback for everything else
          try_files $uri $uri/ /jbrowse2/index.html;
      }
  loop:
    - "{{ apollo_internal_domain_name }}"
    - "{{ apollo_custom_domain_name }}"
  notify: reload nginx

