# Vagrant Directories
.vagrant
# apollo build files
buildapollo.???.inventory

# Galaxy-ansible roles
ansible/roles/geerlingguy.ansible/
ansible/roles/geerlingguy.git/
ansible/roles/geerlingguy.postgresql/
