---

- name: Get installed Node.js version string
  shell: |
    . $HOME/.nvm/nvm.sh && nvm use {{ node_version }} && node -v
  args:
    executable: /bin/bash
  become: false
  become_user: "{{ jbrowse_build_user }}"
  register: node_version_full
  changed_when: false
  failed_when: >
    node_version_full.rc != 0 or
    (node_version_full.stdout | trim) == ""

- name: Install JBrowse CLI globally with NVM and npm
  shell: |
    . $HOME/.nvm/nvm.sh && nvm use {{ node_version }} && npm install -g @jbrowse/cli
  args:
    executable: /bin/bash
    chdir: "$HOME"
    creates: "$HOME/.nvm/versions/node/{{ node_version_full.stdout }}/bin/jbrowse"
  become: false
  become_user: "{{ jbrowse_build_user }}"

