[newapollovms]
APOLLONAME.genome.edu.au ansible_host=APOLLONAME target_environment=TESTORPROD apollo_instance_number=APOLLOINSTANCENUMBER apollo_subdomain_name=CUSTOMHOSTNAME apollo_root_disk_device=ROOTDISKDEVICE

[changeipvms]
apollo-backup.genome.edu.au ansible_user=ubuntu admin_group=sudo
apollo-user-nfs.genome.edu.au ansible_user=ubuntu admin_group=sudo
apollo-monitor.genome.edu.au ansible_user=ubuntu admin_group=sudo

[changeipvms:vars]
hostname_for_ip=APOLLONAME
private_ip=PRIVATEIP

[nfsservervms]
apollo-user-nfs.genome.edu.au

[nfsservervms:vars]
apollo_instance_number=APOLLOINSTANCENUMBER
ubuntu_version=UBUNTUVERSION

[monitorservervms]
apollo-monitor.genome.edu.au

[monitorservervms:vars]
apollo_instance_number=APOLLOINSTANCENUMBER
private_ip=PRIVATEIP
apollo_root_disk_device=ROOTDISKDEVICE

[backupservervms]
apollo-backup.genome.edu.au

[backupservervms:vars]
apollo_instance_number=APOLLOINSTANCENUMBER

