- name: Build JBrowse instances on jbrowse-portal
  hosts: jbrowseportalvms
  become: true

  tasks:
    - name: Build each JBrowse instance
      include_role:
        name: jbrowse-build-jbrowse-on-portal
      loop: "{{ jbrowse_builds }}"
      loop_control:
        loop_var: jbrowse
    - name: Configure website for each JBrowse instance
      include_role:
        name: jbrowse-configure-web-on-portal
      loop: "{{ jbrowse_builds }}"
      loop_control:
        loop_var: jbrowse

