---
- name: Nectar JBrowse2 Setup on existing Apollo2
  hosts: all
  remote_user: ubuntu
  become: yes
  become_method: sudo
  connection: "ssh"

  vars:
    ansible_become_flags: "-H" # forces sudo to simulate a login shell and reset HOME correctly
    node_version: "24"
    nvm_version: "v0.40.3"
    jbrowse_build_user: "{{ (apollo_subdomain_name ~ '_user') if apollo_subdomain_name is defined else 'ubuntu' }}" # use <subdomain>_user if defined, otherwise default to ubuntu
    apollo_internal_domain_name: >-
      {{ 'apollo-%03d.genome.edu.au' | format(apollo_instance_number|int)
         if apollo_instance_number is defined
         else '' }}
    apollo_custom_domain_name: >-
      {{ apollo_subdomain_name ~ '.genome.edu.au'
         if apollo_subdomain_name is defined
         else '' }}

  tasks:
    - import_role:
        name: jbrowse-admin-users-groups
    - import_role:
        name: jbrowse2-dependencies
    - import_role:
        name: jbrowse-install-nvm-nodejs
    - import_role:
        name: jbrowse-install-yarn2 # requires NVM and Node.js installed first
    - import_role:
        name: jbrowse2-install-jbrowse-cli # requires NVM and Node.js installed first
    - import_role:
        name: apollo-nginx-conf-add-jbrowse2

