---

- name: add {{ jbrowse_build_user }} to www-data group
  user:
    name: "{{ jbrowse_build_user }}"
    groups: "www-data" 
    append: yes

- name: Install NVM as user (which adds NVM initialisation to .bashrc)
  shell: |
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/{{ nvm_version }}/install.sh | bash
  args:
    creates: "/home/{{ jbrowse_build_user }}/.nvm"  # Only run if NVM is not already installed
    executable: /bin/bash
  become: true
  become_user: "{{ jbrowse_build_user }}"
  environment:
    HOME: "/home/{{ jbrowse_build_user }}"

- name: Install Node.js version {{ node_version }} using NVM 
  shell: |
    . $HOME/.nvm/nvm.sh && nvm install {{ node_version }}
  args:
    executable: /bin/bash
    chdir: "/home/{{ jbrowse_build_user }}"
    creates: "/home/{{ jbrowse_build_user }}/.nvm/versions/node/v{{ node_version }}.*"
  become: true
  become_user: "{{ jbrowse_build_user }}"
  environment:
    HOME: "/home/{{ jbrowse_build_user }}"

