apiVersion: 1

providers:
  - name: 'Apollo Infrastructure Dashboards'
    folder: 'Apollo'
    type: file
    editable: true
    disableDeletion: false
    updateIntervalSeconds: 30
    options:
      path: /var/lib/grafana/dashboards

