---

- name: Get installed Node.js version string
  shell: |
    . $HOME/.nvm/nvm.sh && nvm use {{ node_version }} && node -v
  args:
    executable: /bin/bash
    chdir: "/home/{{ apollo3_build_user }}"
  become: true
  become_user: "{{ apollo3_build_user }}"
  environment:
    HOME: "/home/{{ apollo3_build_user }}"
  register: node_version_full
  changed_when: false
  failed_when: >
    node_version_full.rc != 0 or
    (node_version_full.stdout | trim) == ""

- name: Install JBrowse CLI globally with NVM and npm
  shell: |
    . $HOME/.nvm/nvm.sh && nvm use {{ node_version }} && npm install -g @jbrowse/cli
  args:
    executable: /bin/bash
    chdir: "/home/{{ apollo3_build_user }}"
    creates: "/home/{{ apollo3_build_user }}/.nvm/versions/node/{{ node_version_full.stdout }}/bin/jbrowse"
  become: true
  become_user: "{{ apollo3_build_user }}"
  environment:
    HOME: "/home/{{ apollo3_build_user }}"

- name: Install Apollo3 CLI globally with NVM and npm
  shell: |
    . $HOME/.nvm/nvm.sh && nvm use {{ node_version }} && npm install -g @apollo-annotation/cli
  args:
    executable: /bin/bash
    chdir: "/home/{{ apollo3_build_user }}"
    creates: "/home/{{ apollo3_build_user }}/.nvm/versions/node/{{ node_version_full.stdout }}/bin/jbrowse"
  become: true
  become_user: "{{ apollo3_build_user }}"
  environment:
    HOME: "/home/{{ apollo3_build_user }}"

