server {
    listen 80;
    server_name {{ domain }};
    error_log /var/log/nginx/{{ domain }}-error.log;
    access_log /var/log/nginx/{{ domain }}-access.log;

    root /var/www/{{ jbrowse.id }}/jbrowse;
    index index.html index.htm;

    location /.well-known/acme-challenge/ {
        allow all;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}

